/front_end/node_modules

BackEnd/Product_Api/.vs/

BackEnd\Product_Api\Categoria_Api\bin
BackEnd\Product_Api\Categoria_Api\obj

BackEnd\Product_Api\Product_Api\bin
BackEnd\Product_Api\Product_Api\obj
